.world {
    background-image: url(../../../public/assets/world-bg.png);
    height: 100vh;
    width: auto;
    background-color: aquamarine;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;

    &_title {
        text-align: center;
        padding-top: 3rem;
    }
}